<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="{{ photoCover }}" 
            alt=""
            height="200px"
            srcset=""
        >
    </div><!--big-card__photo-->
    <div class="big-card__title">
        <h1>
            <a href="#">
                {{ cardTitle }}
            </a>
        </h1>
    </div><!--big-card__title-->
    <div class="big-card__description">
        <p>
            <a href="#">
                {{ cardDescription }}
            </a>
        </p>
    </div><!--big-card__description-->
</div><!--container__big-card-->
