<div class="container__smail-card">
    <div class="container__smail-card-context">
        <div class="small-card__photo">
            <img 
                src="{{ photoCover }}" 
                alt=""
                srcset=""
            >
        </div><!--small-card__photo-->
        <div class="small-card__title">
            <h1>
                <a href="#">
                    {{ cardTitle }}
                </a>
            </h1>
        </div><!--small-card__title-->
    </div><!--container__smail-card-context-->
    <div class="container__smail-card__separator">
        <hr/>
    </div><!--container__smail-card__separator-->
</div><!--container__smail-card-->


